body {
    background-color: #2b2b2b;
    color: #f0f0f0;
}

h1, h2, h3, strong {
    color: purple;
}

p, em {
    color: gray;
    font-style: italic;
}

ul, ol {
    border: 2px solid orange;
    padding: 5px 20px;
    border-radius: 4px;
}

h1 {
    color: tomato;
}

h2 {
    color: orange;
}

ul {
    border: 5px dotted blueviolet; 
}

ol {
    border: 5px solid white;
}

em {
    color: red;
    background-color: #800080; 
}
